.Days {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UI {
  width: 100%;
  height: 100vh;
  position: relative;
}

.Days h1 {
  text-align: center;
  width: 100%;
  min-width: 400px;
}

.Days Img {
  width: 100%;
  margin-top: 50px;
}

.Exercise {
  display: flex;
  background-color: #232D3F;
  width: 90%;
  justify-content: space-between;
  padding: 0 10%;
  margin: 5px 0;
}

.Workout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  width: 30px;
}

.btnCon {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: right;
}

.btn {
  color: white;
  font-weight: bold;
  margin: 2% 5%;
  padding: 10px;
  border: 1px solid #008170;
  background-color: #005B41;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  height: 2.5rem;
}

.btn:disabled {
  background-color: #555; 
  border-color: #777;
  cursor: not-allowed; 
  opacity: 0.6; 
}

.Code {
  margin: 0;
  padding: 0;
  width: 90%;
}

.linesOfCode {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 8.6px;
}

.codeCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.codeViewer, .codeEditor {
  padding: 2%;
  width: 90%;
  background-color: #232D3F;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  border: 1px solid #005B41 ;
}

.codeEditorLines {
  line-height: 9.95px;
  font-size: 10px;
}

.header {
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 0;
  padding: 0;
}

.header1 {
  margin: 3rem 0;
}