* {
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
}

.Nav {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
.Nav a {
  background-color: #232D3F;
  padding: 10px;
  border-radius: 3%;

}

#Today {
  border: 1px solid #008170;
}

.ConfigBtnCon {
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: right;
}

.ConfigBtn {
  position: sticky;
  margin: 2% 5%;
  color: White;
  font-weight: bold;
  margin-left: 400px;
  padding: 10px;
  border: 1px solid #008170;
  background-color: #005B41;
  cursor: pointer;
  opacity: 0.2;
  transition: ease-in-out 0.5s;
  height: 2.5rem;
}

.ConfigBtn:hover {
  opacity: 1;
}

#config, #config:focus{
  width: 90%;
  height: 80vh;
  background: transparent;
  resize: none;
  line-height: 20px;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}